
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');


body{font-family: 'Nunito Sans', sans-serif;}
.navbar-ens{background-color:#4E64E6;}

.bkHome{ background-image: url("../images/bck/hmLftSpt.svg"),url("../images/bck/hmLftSm.svg"),url("../images/bck/hmLftLrg.svg"),url("../images/bck/hmRgt.svg");
background-size: auto,auto,auto,auto;
  background-position: 300px 400px,left 200px,left top,right top;
background-repeat:no-repeat,no-repeat,no-repeat,no-repeat;}

.bkVid{background-image:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1) 70%), url("../images/bck/vidBk.svg");
background-size: 100%;
  background-position: center 200px;
background-repeat:no-repeat;}
.bkPrc{ background-image: url("../images/bck/prcLft.svg"),url("../images/bck/prcRgt.svg");
background-size: auto,auto;
  background-position: left top,right top;
background-repeat:no-repeat,no-repeat;}
.bkBlog{ background-image: url("../images/bck/endLft.svg"),url("../images/bck/discRgt.svg");
background-size: auto,auto;
  background-position: left 100px,right 70px;
background-repeat:no-repeat,no-repeat;}
.bkCreate{ background-image: url("../images/bck/crtLft.svg");
background-size: auto;
  background-position: left 70px;
background-repeat:no-repeat;}

.bkManage{ background-image: url("../images/bck/mngRgt.svg");
background-size: auto;
  background-position: right 90px;
background-repeat:no-repeat;}

.bkEngage{ background-image: url("../images/bck/endLft.svg");
background-size: auto;
  background-position: left 70px;
background-repeat:no-repeat;}

.bkDiscover{ background-image: url("../images/bck/discRgt.svg");
background-size: auto;
  background-position: right 130px;
background-repeat:no-repeat;}
.nav-link{font-size:14px;color:#ffffff;padding-left:0px !important;padding-right:0px !important;position:relative;}
.nav-item{margin-left:14px;margin-right:14px;padding:25px 0px;}

.hg a.active {
 color:#ffffff;
	
}
.nav-item a:hover{color:#93A2FF;}
.navbar-nav .active a::before,
.navbar-nav .hg a:hover::before {
  content: '';
  position: absolute;
  top:-24px;
  left: 0;
  background: #ffffff;
  height: 3px;
  width: 100%;
}

.secNv{background-color:#F9FAFF;position: absolute;left:0px;width:100%;top:87px;display:none;height:56px;
margin:0px;padding:0px;}
.navbar-nav .active .secNv{display:block}
.secNv ul{display: flex;
flex-direction: column;
padding-left: 0;
margin-bottom: 0;
list-style: none;flex-direction: row;}
 .secNv ul li{width:25%;text-align: center;
}
 .secNv a{line-height:55px;color:#7483BE;text-decoration:none;display: block;}
.secNv a.active{color:#192244;border-bottom:1px solid #4e64e6;}  
 .secNv a.active:before{position:relative;}
.navbar-nav .active  .secNv a:before {width:0px;}
.navbar-nav  .secNv a:hover::before {width:0px;}


.button-translate {
       
        box-shadow:0 .0rem .0rem rgba(249, 142, 76, 0.6);
        
        transition: all .6s ease-in-out;
        
    }
.button-translate:hover{
	
	box-shadow:0 .25rem .75rem rgba(249, 142, 76, 0.6);
	}
.button-translate-bl {
       
        box-shadow:0 .0rem .0rem rgba(78, 100, 230, 0.6);
        
        transition: all .6s ease-in-out;
        
    }
.button-translate-bl:hover{
	color:#ffffff;
	box-shadow:0 .25rem .75rem rgba(78, 100, 230, 0.6);
	}
.button-orange{color: #ffffff;
background-color: #f5b900;
border-color: #f5b900;
font-size:16px;font-weight:700;line-height:16px;
	padding:10px 16px;
}

.button-blue{color: #ffffff;
background-color: #4E64E6;
border-color: #4E64E6;
font-size:16px;font-weight:700;line-height:16px;
	padding:10px 16px;
}
A.button-orange:hover{color:#ffffff;}


.button-outline-white{color: #ffffff;
background-color: transparent;
background-image: none;
border-color: #ffffff;
padding:10px 16px;font-size:16px;line-height:16px;font-weight:400;}
.lgn{display:inline-block;
background-image: url("../images/login.svg");
	width:14px;height:14px;margin-right:10px;
}

.flg{display:block; width:24px;height:24px;background-size:cover;border-radius:12px;margin:6px 0px;border:1px solid #ffffff;}
.flg-en{background-image:url("../images/flgEn.svg");}
.flg-nl{background-image:url("../images/flgNl.svg");}
.flg-end{background-image:url("../images/flgEnd.svg");}
.flg-nld{background-image:url("../images/flgNld.svg");}


.mr0{margin-right:3px !important;}
.ml0{margin-left:3px !important;}
.copyright{background-color:#F5F5F5;}
.copyright p{font-size:13px;line-height:21px;color:#192244;}
.footer-bck{background-color:#4E64E6 !important;display:block;color:#ffffff;font-size:14px;}
.footer-bck A{color:#ffffff;font-size:14px;line-height:23px;text-decoration:none;}
.footer-bck .btn{font-size:16px;}
.noLst{list-style-type:none;
	padding:0px;margin:0px;
}
.noLst li{padding:8px 0px;}


A.footLnk{color:#ffffff;font-size:13px !important;text-decoration:none;}
.footLgo{padding-bottom:18px;display:inline-block;}

A.smBtn{display:inline-block;margin:0px 10px;}
.sm-fb{background-image: url("../images/sm-fb.svg");width:19px;height:20px;background-size:100%;}
.sm-tw{background-image: url("../images/sm-tw.svg");width:20px;height:16px;margin-top:2px;}
.sm-yt{background-image: url("../images/sm-yt.svg");width:23px;height:16px;margin-top:2px;}
.sm-li{background-image: url("../images/sm-li.svg");width:20px;height:20px;}


.mt20{margin-top:20px;}
.mt30{margin-top:29px;}
.pg{
  background-image: linear-gradient(360deg, #EFF2FF 25.5%, rgba(239, 242, 255, 0) 59.6%, rgba(255, 255, 255, 0) 86.51%);}
.hero h1{font-size:70px;line-height:90px;font-weight: 700;}
.lgo{padding-top:29px;background-image:url("../images/lgo.svg");background-repeat: no-repeat;background-position: top center;text-align: center;font-weight: 700}
.mobNav{width:46px;height:46px;display:none;background:none;border:0px;padding:0px;}
.mobNav span{display:inline-block;width:7px;height:7px;background-color:#ffffff;margin:4px;border-radius:4px;float:left}

.active span.dsp{
    transition: background-color 0.5s ease-out;
    background-color: #4E64E6;
} 



p{font-size:16px;line-height:26px;}


.icon-star{background-image:url("../images/star.svg");width:14px;height:14px;background-size:100%;margin-right:3px;display: inline-block}

.testimonials {
  
  color: #8d97ad;
  font-weight: 300;
}

.testimonials h1,
.testimonials h2,
.testimonials h3,
.testimonials h4,
.testimonials h5,
.testimonials h6 {
  color: #3e4555;
}

.testimonials .font-weight-medium {
  font-weight: 500;
}

.testimonials .bg-light {
  background-color: #f4f8fa !important;
}

.testimonials .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.testimonials .testim .card-body {
  padding: 40px;
}

.testimonials .testim h6 {
  line-height: 26px;
}

.testimonials .testim .thumb-img img {
  width: 60px;
}

.testimonials .testim .customer {
 
  font-size: 16px;
  font-weight: 600;
	line-height:23px;
}

.testimonials .card.card-shadow {
    -webkit-box-shadow: 0px 0px 5px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 5px rgba(115, 128, 157, 0.1);
}

.testimonials .font-10 {
	font-size: 10px;
}

.testimonials .text-success {
    color: #2cdd9b !important;
}

.testimonials .text-muted {
    color: #8d97ad !important;
}

.testimonials .owl-theme .owl-dots .owl-dot.active span,
.testimonials .owl-theme .owl-dots .owl-dot:hover span {
  background: #316ce8;
}
.accordion{background-color:#fff 0px 0px 5px rgba(115, 128, 157, 0.1);padding:20px;border-radius:12px;}
.extr{font-size:26px;line-height:40px;}

.accordion{background-color:#ffffff;}
.accordion-button{border:0px;border-bottom:1px solid rgba(0,0,0,.125)}
.accordion-button.collapsed{border-bottom-width:1px;}
.accordion-collapse{border-width:0px;}
.lang{display:none;}

.srchLft{background-color:#EFF2FF;border-radius:50px 0px 0px 50px;background-image:url("../images/search.svg");background-repeat:no-repeat;background-position:center;}
.search .form-control{background-color:#EFF2FF;border-radius:0px 50px 50px 0px;border:0px;
}
.search .form-control::placeholder { color:#7483BE;
}
.search .form-control:focus{box-shadow: none;}

.article,.articleBd:hover{/* White */

background: #FFFFFF;
/* Elevation-Medium */

box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 8px;}
.related .articleBd{/* White */

background: #FFFFFF;
/* Elevation-Medium */


border-radius: 8px;}
.artImg img{border-radius:8px 8px 0px 0px;width:100% !important;height:auto;}
.bg-ensemble{background-color:#EFF2FF;color:#4E64E6;}
.details{font-size:16px;line-height:26px;}
.artBody H1 A,.artBody H4 A{color:#192244;text-decoration:none;}
.author{padding-left:48px;line-height:48px;font-size:14px;font-weight:bold;background-image:url("../images/author.png");background-repeat:no-repeat;background-position: left center;}
.author A{color:#212529;text-decoration:none;}
.articleBd .details{text-align:right;}
.articleBd .details span{float:left;}
.page-link{
    background-color:transparent;
    border: 0px;
}
.page-item .page-link{color:#212529}
.page-item .page-link:hover{background-color:transparent;}
.page-item.active .page-link{background-color:#93A2FF;border-radius:80px;}

 .bk-blue{background-color:#4E64E6;border-radius:20px;}
.subscribe h3,.subscribe p{color:#ffffff;}
.btn-blmarine{background-color: #192244;color:#ffffff;
}
.btn-blmarine:hover{color:#ffffff;}
.bg-form{background:#ffffff;border-radius:12px;}
.bg-form input{border:0px;}
.bg-form input:focus{box-shadow:none;}
.post .details{text-align: right;}
.post .details span{float:left;}
.post p{line-height:32px;color:#7D7D7D}

.whoare{border-radius:20px;box-shadow:0px 0px 5px rgba(115, 128, 157, 0.1);text-align:center;background: linear-gradient(272.11deg, #EFF2FF 3.73%, rgba(249, 250, 255, 0.3) 70.54%),
linear-gradient(0deg, #FFFFFF, #FFFFFF);
}
.whoare p{font-size:18px;line-height:29px;}
.whoare h5{color:#4E64E6;}
.whoPic{width:70px;height:70px;border-radius:35px;margin:0px auto;}
.whoPic img{width:70px;}
.whoRole{color:#7D7D7D;}
.emp img{border-radius:16px;}
.handbook A{font-size:18px;color:#4e64e6;text-decoration:none;}
.vacancy{background-color:#ffffff;box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 8px;
position:relative;}
A.expand{float:right;text-decoration:none;font-size:36px;margin-top:4px;}
.map{background-image:url("../images/about/map.png");background-size:cover;
}
.map H1{color:#ffffff;}
.addressBox{background-color:#EFF2Ff;border-radius:8px 8px 0px 8px;width:auto;position:absolute;display: block;right:200px;top:100px}
.addressBox:after{content:"";      width: 0;
      height: 0;
      border-top: 10px solid #EFF2Ff;
      border-left: 20px solid transparent;    right: 0px;
    position: absolute;
    bottom: -10px;
}
.bckShdw{background-color:#ffffff;box-shadow:0px 0px 5px rgba(115, 128, 157, 0.1);}
.ensFrm .form-label{font-size:13px;font-weight:bold;margin-bottom:0px;}
.err{font-size:14px;line-height:20px;color:#dc3545;display:block;height:20px;}
.copyfrm{font-size:13px;}
.tier .container{background: linear-gradient(#F9FAFF 10.32%, rgba(249, 250, 255, 0) 97.4%);
border-radius: 8px;
}
.switch{width:200px;height:48px;background-color:#ffffff;border-radius:28px;display:block;margin:0px auto;line-height:48px;box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);}
.switch A{color:#192244;text-decoration:none;background-color:#ffffff;border-radius:28px;display:inline-block;width:100px;font-weight:bold;height:48px;cursor:pointer;}
.switch A.active{color:#ffffff;background-color:#4E64E6;}
.prcTier{background-color:#ffffff;box-shadow:0px 0px 10px  rgba(0, 0, 0, 0.04);border-radius:8px;}

.price{font-size:80px;font-weight: bold;line-height:80px;height:80px;padding:0px;margin:0px;}
.price span{font-size:40px;font-weight:normal;}
.priceSng{font-size:60px;font-weight: bold;line-height:60px;height:60px;padding:0px;margin:0px;}
.priceSng span{font-size:30px;font-weight:normal;}
.per{font-size:22px;}
.prcTier p{}
.prcTier ul{list-style-type:none;}
.prcTier ul li{line-height:23px;text-decoration:none;padding: 0px;position:relative;text-align:center;font-size:1.1rem;color:#7D7D7D;}

.prc1 {color:#469CE3;}
A.prc1 {color:#469CE3;text-decoration:none;font-size:13px;}
.btn-prc1{background-color: #469CE3;color:#ffffff;}
.btn-prc1:hover{color:#ffffff;}

.prc2 {color:#3FC4BE;}
A.prc2 {color:#3FC4BE;text-decoration:none;font-size:13px;}
.btn-prc2{background-color: #3FC4BE;color:#ffffff;}
.btn-prc2:hover{color:#ffffff;}

.prc3 {color:#4E64E6;}
A.prc3 {color:#4E64E6;text-decoration:none;font-size:13px;}
.btn-prc3{background-color: #4E64E6;color:#ffffff;}
.btn-prc3:hover{color:#ffffff;}
.comparision p{color:#7D7D7D;font-size:14px;}
.bx{border-left:1px solid #cccccc;border-right:1px solid #cccccc;}
.bbtm{border-bottom:1px solid #cccccc;}
.ctl-rnd{border-top-left-radius: 12px;
	
}
.ctr-rnd{border-top-right-radius: 12px;}
.cbl-rnd{border-bottom-left-radius: 12px;
	
}
.cbr-rnd{border-bottom-right-radius: 12px;}

.sdw-lft{box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0)}
.sdw-rgt{ box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0),0px 10px 20px rgba(0, 0, 0, 0.04), 0px 0px 0px rgba(0, 0, 0, 0)}
.compCl{border-radius:8px 0px 0px 8px;}
.compCl:hover,.compCl:hover .bg-white{background-color:#EFF2FF !important;}
.roi .row{background-color:#4E64E6;border-radius:10px;}
.roi .lgo{color:#ffffff;background-image: url("../images/lgow.svg");background-size:75px;}
.frmHld {position:relative;}
.frmHld form{background:#ffffff;border: 1px solid #EAEFFB;position:absolute;width:100%;margin-top:-70px;border-radius:10px;box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);}
.intHld{background-color:#ffffff;border-radius:8px;box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04)}
.intHld h6{border-bottom:1px solid #cccccc;}
.categ{font-size:14px;}
ul.categLst{list-style-type: none;padding:0px;border-top:0.5px solid #cccccc;}
ul.categLst li{border-bottom:0.5px solid #cccccc;}
ul.categLst li A{ color:#313E5A;line-height:48px;text-decoration:none;}
.drpInteg{display:none;}
.integCta .container{background-color:#4E64E6;border-radius:10px;}
.integCta h2{color:#ffffff;}
.special{font-size:12px;color:#7D7D7D;text-align:center;}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
	
	.nav-item{margin-left:10px;margin-right:10px;}
	
	
}
@media only screen and (max-width:720px){
	.comparision h4{font-size: calc(1rem + .3vw);}
		.priceSng{font-size:28px;}
	
	
}
@media only screen and (max-width:576px){

	.sngl{text-align:center;width:100%;padding-top:10px;align-self:center;}
.priceSng{font-size:28px;}
	
}
@media only screen and (max-width: 992px) {
	
	
	.priceSng{font-size:24px;font-weight: bold;line-height:20px;height:20px;padding:0px;margin:0px;}
.priceSng span{font-size:14px;font-weight:normal;}
	.bkHome{ background-image: url("../images/bck/hmLftLrg.svg"),url("../images/bck/hmRgt.svg");
background-size: auto,auto;
  background-position: left top,right top;
background-repeat:no-repeat,no-repeat;}

	
	.addressBox{position:static;}
	.addressBox:after{display:none;}
	ul.categLst{display:none;}
	.drpInteg{display:block;}
	.frmHld{position:static;}
	.frmHld form{position:static;margin:20px;width:auto;}
	.comparision p{display:none;}
	.comparision a{text-decoration:none;font-size:16px;line-height:14px;margin-top:5px;}
	 A#KeyBenefits::after{display: inline-block;
margin-left: .255em;
margin-top:10px;;
content: "";
		margin-right:1.5rem !important;
		position: absolute;
		right:0px;
border-top: .4em solid;
border-right: .4em solid transparent;
border-bottom: 0;
border-left: .4em solid transparent;}
	A#KeyBenefits.show::after {border-top:0;border-bottom:  .4em solid;}
	.ctas{padding:10px 0px;margin:0px 20px;}
	.ctas .btn{width:100%;}
	.ctas A.button-orange{color:#ffffff;}
	.ctas A.button-orange:hover{color: #ffffff;
background-color: #f5b900;}
	.ctas .flg{margin:0px;}
	.ctas A.button-outline-white{border-color:#4E64E6;color:#4E64E6;}
	.ctas .lgn{background-image:url("../images/loginm.svg")}
	.ctas .nav-item{width:96%;margin:0 2%;text-align:center;}
	.lngs{text-align:right;}
	.lngs .nav-item{display:inline-block;
	}
	.lngs .ml0{padding-right: 1.5rem !important;}
	.lngs .nav-item A{padding:0px !important;}
	.lang{display:block;padding-left: 1.5rem !important;line-height:36px;float:left;}
	.navbar .container{width:100% !important; max-width:100% !important;}
	.menuOptions{
	display: none;
width: 100%;

background-color: white;
position: absolute;
left: 0px;
top: 89px;
		box-shadow: 0px 0px 5px #333333;
	
	}
	.nav-item {padding:0px;margin:0px;}
	.nav-item A{color:#192244;padding:10px 0px;font-size:16px;padding-right: 1.5rem !important;
padding-left: 1.5rem !important;}
	.nav-item A:hover{background-color:#EFF2FF;}

	.navbar-nav .hg a:hover::before{height:0px;}
	 .secNv{height:auto;}
 .secNv .px-5{padding:0px !important;}
	 .secNv ul{display:block;}
 .secNv ul li {width:100%;text-align:left;}
	.secNv a{height:auto !important;line-height:16px;font-size:16px;}
	.navbar-ens{height:89px;}
	.mobNav{display:block;}
	.navbar-nav .active a{font-weight:600;color:#93A2FF;}
	.navbar-nav .active .secNv a{color:#000000;font-weight: 400;}
	.navbar-nav .active a::before{height:0px;font-weight:600;color:#93A2FF;}
	.navbar-nav .active .secNv a.active{border-bottom:0px;font-weight:600;color:#93A2FF;}
	
}


